div{
    border: 1px solid black;
    margin:10px;
    left: 50px;
}

.box{
    border: 1px solid black;
    position: relative;
    left: 50px; /* This works due to position Relative */
    right: 50px;
    top: 50px;
    
}